<% window_title =  "Demo Project" %>
<% page_heading =  "Let's create dynamic user experience"%>

<html>
<head>
<title>
<%= window_title %>
</title>
</head>

<body>
<h1><%= page_heading %></h1>
<p>This page contains the details of the top rated web developers acroos the country.</p>
</body>


</html>

